<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>회원가입 메일</title>
</head>
<body style="margin: 0; padding: 45px 48px">
<table>
    <tr>
        <td style="display: flex; padding: 20px 0 30px">
            <img src="https://i.ibb.co/SyZgcj4/Group-31.png" style="margin-right: 10px; width: 342px; height: 47px" />
        </td>
    </tr>
    <tr>
        <td
                style="
                  text-align: center;
                  height: 35px;
                  border-radius: 10px;
                  background: #F5B785;
                  font-size: 10px;
                "
        >
            <a href="{LINK}" style="text-decoration: none">
                <div style="color: #ffffff">회원가입 메일 인증하기</div>
            </a>
        </td>
    </tr>
    <tr>
        <td style="height: 30px; font-size: 10px; padding-top: 30px">
            <p style="margin: 0">5분내로 메일 인증을 해야 합니다.</p>
            <p style="margin: 0">만약 5분이 지나면 다시 회원가입 절차를 진행해야 합니다.</p>
        </td>
    </tr>
</table>
</body>
</html>